# Base files

node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
coverage

# Extra files

config.yml
databases
src/test.ts
src/commands/tepki.ts
src/handlers/database/tempDatabase.ts
src/events/message.ts
temp
todo.txt
